<!-- Options de swipe à gauche : Marquer comme passé (action directe au swipe) -->
<!-- Désactivé pour les non-partants -->
<ion-item-options
  *ngIf="!rider.isNonStarter"
  side="start"
  class="stealth-start"
  (ionSwipe)="onTogglePassed()"
>
  <ion-item-option class="stealth-option" expandable> </ion-item-option>
</ion-item-options>

<!-- Options de swipe à droite : Non-partant et Supprimer -->
<ion-item-options side="end">
  <ion-item-option
    *ngIf="!rider.isNonStarter && !rider.passedWithoutPhoto"
    class="status-option equal-width-option"
    [color]="rider.passedWithoutPhoto ? '' : 'secondary'"
    (click)="onTogglePassedWithoutPhoto()"
  >
    SP
  </ion-item-option>
  <ion-item-option
    class="status-option equal-width-option"
    [color]="rider.isNonStarter ? 'success' : 'warning'"
    (click)="onToggleNonStarter()"
  >
    {{ rider.isNonStarter ? 'P' : 'NP' }}
  </ion-item-option>
  <ion-item-option
    class="equal-width-option"
    color="danger"
    (click)="onDelete()"
  >
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-item-option>
</ion-item-options>

<!-- Contenu de la carte cavalier -->
<ion-item
  [class.non-starter]="rider.isNonStarter"
  [class.passed]="rider.hasPassed"
  [class.passed-without-photo]="rider.passedWithoutPhoto"
>
  <ion-label>
    <div class="bib-container">
      <input
        type="number"
        class="bib"
        [value]="rider.bib"
        (blur)="onUpdate('bib', $event)"
        min="1"
        inputmode="numeric"
        [readonly]="rider.isNonStarter"
      />
    </div>

    <div class="textual-container">
      <input
        type="text"
        class="name"
        [value]="rider.name"
        (blur)="onUpdate('name', $event)"
        placeholder="Nom du cavalier"
        autocomplete="off"
        [readonly]="rider.isNonStarter"
      />
      <input
        type="text"
        class="horse"
        [value]="rider.horse"
        (blur)="onUpdate('horse', $event)"
        placeholder="Nom du cheval"
        autocomplete="off"
        [readonly]="rider.isNonStarter"
      />
      <span *ngIf="rider.passedWithoutPhoto" class="without-photo-badge">
        Passé sans photo
      </span>
    </div>
  </ion-label>

  <ion-reorder [slot]="rightHanded ? 'end' : 'start'">
    <img src="../../assets/icon/horseshoe.svg" alt="horseshoe" />
  </ion-reorder>
</ion-item>
